<a href="https://colab.research.google.com/github/psicobloc/EDA_SquidGameTweets/blob/main/Entregable_come_verde_Hugo_ValenciaV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar las bibliotecas a utilizar:

In [1]:
import pandas as pd

%matplotlib

Using matplotlib backend: agg

Cargar el dataset a un DataFrame:

In [2]:
tweets_all = pd.read_csv("tweets_v8.csv")

Visualizar los primeros 3 tweets para darnos una idea de como lucen los datos

In [3]:
tweets_all.head(3)

                    user_name user_location  ...               source is_retweet
0   the _√ªnd√´r-rat√®d nigg√°hüëäüèæ           NaN  ...  Twitter for Android      False
1  Best uncle on planet earth           NaN  ...  Twitter for Android      False
2                      marcie           NaN  ...      Twitter Web App      False

[3 rows x 12 columns]

Contar los valores faltantes.

In [ ]:
tweets_all.isnull().sum()

aqu√≠ podemos preguntarnos si, por ejemplo, no nos interesan los tweets que no tienen nombre de usuario, dependiendo de nuestro objetivo, en este caso los eliminar√©. Si hubiera instancias donde hace falta el texto del tweet las eliminar√≠amos pero por suerte no es el caso.

In [ ]:
tweets_with_usernames = tweets_all.loc[tweets_all.user_name.notnull()] #tambi√©n podriamos usar la funci√≥n drop()
tweets_with_usernames.isnull().sum() #comprobamos que ya no hay tweets sin usuario

In [ ]:
#tweets_with_usernames.count()

Ahora nos interesa saber si hay alg√∫n usuario que haya hecho m√°s de 1 tweet, ser√≠a razonable pensar que son los m√°s interesados, pueden estar interesados porque les gusta o porque no les gusta, a√∫n no podemos saberlo pero lo descubriremos m√°s adelante

In [ ]:
tweets_with_usernames.groupby('user_name').count().text >1 # nos da una serie con valores booleanos donde True significa que un mismo usuario hizo m√°s de 1 tweet

# Podemos usar esta serie para seleccionar en el dataframe los usuarios que realizaron m√°s de 1 tweet, guardamos esa selecci√≥n en tweets_count:

tweets_count = tweets_with_usernames.groupby('user_name').count().loc[tweets_with_usernames.groupby('user_name').count().text >1] 
tweets_count = tweets_count.sort_values('text', ascending=False) 
tweets_count

podr√≠amos considerar estos tweets como prioritarios, si nuestro dataset fuera gigante podemos utilizar esta caracter√≠stica, el ser tweets de usuarios "m√°s interesados", como criterio para eliminar los dem√°s con el objetivo de reducir el tama√±o del DS y poderlo procesar con menos recursos. Puede ser interesante tambi√©n comparar las estad√≠sticas de este grupo de usuarios que est√°n m√°s "engaged" contra la poblaci√≥n completa.
Para seleccionar √∫nicamente estos tweets:

In [39]:
user_names_multiple_tweets = tweets_count.index #los nombres de los usuarios que realizaron m√°s de 1 tweet
tweets_of_multiple_posting_users = tweets_with_usernames.loc[tweets_with_usernames.user_name.isin(user_names_multiple_tweets)] #todos los tweets de usuarios que publicaron multiples veces
tweets_of_multiple_posting_users

                        user_name  ... is_retweet
0       the _√ªnd√´r-rat√®d nigg√°hüëäüèæ  ...      False
1      Best uncle on planet earth  ...      False
2                          marcie  ...      False
4                 Laura Reactions  ...      False
5                      Peyman üÖöüÖêüÖò  ...      False
...                           ...  ...        ...
80010                         Lee  ...      False
80014                  Sale X Low  ...      False
80016              Omo K-Pop News  ...      False
80017            üéÉPumpkinüíÄQueen üï∏  ...      False
80018                 levi do lay  ...      False

[36583 rows x 12 columns]

In [42]:
tweets_of_multiple_posting_users.loc[tweets_of_multiple_posting_users.user_name == 'marcie'] # para seleccionar todos los tweets de un usuario en espec√≠fico, en este caso de 'marcie'

      user_name user_location  ...               source is_retweet
2        marcie           NaN  ...      Twitter Web App      False
5590     marcie           NaN  ...  Twitter for Android      False
18502    marcie           NaN  ...      Twitter Web App      False
19010    marcie           NaN  ...      Twitter Web App      False
19147    marcie           NaN  ...      Twitter Web App      False

[5 rows x 12 columns]